.nft__container {
    padding: 3rem;

    & > .btn-actions {
        .d-btn {
            padding: 1rem 2rem;
            font-size: 1.8rem;

            svg {
                width: 2rem;
            }
        }
    }

    .nft__collection {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
        }
    }

    @media only screen and (max-width: 500px) {
        .nft__collection {
            header {
                flex-direction: column;
                .search-bar {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
