* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a,
img,
button,
input,
label,
select,
span,
i {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    // width: 100%;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: 1660px) {
        & {
            font-size: 56.75%;
        }
    }

    @media only screen and (max-width: 1440px) {
        & {
            font-size: 50%;
        }
    }
}

html,
body {
    height: 100%;
    color: getColor(text);
    background-color: getColor(base) !important;
    font-family: $font-family;
    line-height: 1;
}

main#root {
    // h1 {
    //     // font-size: $h1-size;
    //     // font-weight: 700;
    //     font-family: "Space Grotesk";
    //     font-size: 32px !important;
    //     text-align: left;
    //     margin-bottom: 1rem;
    //     font-weight: 500 !important;
    //     line-height: 20px;
    //     letter-spacing: 0em;
    //     text-align: left;
    // }

    h1 {
        font-family: "Space Grotesk";
        font-size: 32px !important;
        font-weight: 500 !important;
        text-align: left;
        line-height: 40.83px;
        letter-spacing: 0em;
    }

    h2 {
        font-size: $h2-size;
        font-weight: 700;
    }

    h3 {
        font-size: $h3-size;
        font-weight: 700;
    }

    p {
        font-size: 1.3rem;
        font-weight: 400;
    }

    svg {
        // fill: getColor(text);
    }

    @media only screen and (max-width: 800px) {
        h2 {
            font-size: $h2-size - 0.5;
        }
    }
}

/* Target the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width of the scrollbar */
    height: 5px;
    /* Adjust the height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #999;
    /* Set the color of the scrollbar handle */
    border-radius: 10rem;
}